.alert .inner {
    display: block;
    padding: 6px;
    margin: 6px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgb(180,180,180);
    background-color: rgb(212,212,212);
  }

  .alert.error .inner {
    border: 1px solid rgb(238,211,215);
    background-color: rgb(242,222,222);
  }
  
  .alert.error .inner,.alert.error .close {
    color: rgb(185,74,72);
  }
  
  .alert.success .inner {
    border: 1px solid rgb(214,233,198);
    background-color: rgb(223,240,216);
  }
  
  .alert.success .inner,.alert.success .close {
    color: rgb(70,136,71);
  }
  
  .alert.info .inner {
    border: 1px solid rgb(188,232,241);
    background-color: rgb(217,237,247);
  }
  
  .alert.info .inner,.alert.info .close {
    color: rgb(58,135,173);
  }
  
  .alert.warning .inner {
    border: 1px solid rgb(251,238,213);
    background-color: rgb(252,248,227);
  }
  
  .alert.warning .inner,.alert.warning .close {
    color: rgb(192,152,83);
  }
  
@media screen and (max-width: 512px) {
  .alert .inner {
    font-size: 12px;
  }
}